<nav>
  <div class="title-container">
    <h1>📩 ProMake</h1>
    <div class="p">
      <p>
        Current Location: <span class="location"> </span>
        <span class="chg-btn"> <button>Change</button></span>
      </p>
    </div>
    <ul>
      <a href="/">📨 Send VoiceMail</a>
      <!-- Change this later -->
      <a href="/">All Projects</a>
      <a href="/">Logout</a>
    </ul>
  </div>
</nav>
