<nav>
  <div class="title-container">
    <h1>ProMake</h1>
    <ul>
      <a href="/">All Projects</a>
      <button type="button" class="add">Add A Project</button>
      <a href="/">Logout</a>
    </ul>
  </div>
</nav>
