<nav>
  <div class="title-container">
    <h1>📩 ProMake</h1>
    <ul>
      <a href="/">📨 Send VoiceMail</a>
      <!-- Change this later -->
      <a href="/">All Projects</a>
      <a href="/">Logout</a>
    </ul>
  </div>
</nav>
