<html>
  <head>
    <%- include('./partials/fonts.ejs')%>
    <link rel="stylesheet" type="text/css" href="/design.css">
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    yooo youre in!!!!
    <body>
      <% for (let i of employee_users) { %>
        Hello, <%= i.employee_name.split(" ")[0] %>
      <% } %>
    </body>
    
 </body>
</html>
