<head>
  <link rel="stylesheet" type="text/css" href="/design.css">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

</head>
<body> 
  <%- include('./partials/header.ejs')%>
   
  <form type='submit' class='employee_form'>
    <div>
    <h2> 📩 Promake </h2>
    <label> Company Name </label> <br />
    <input type='text' name='companyName' value='' class='username_input' required /> <br />
    <button type='submit' > Go to Dashboard </button> <br />
  </div>
  </form>

  

  <p class = 'employee_login_btn'> Not a Registered Company? <span><a href = "/signupemployee">Login as an Employee!</a></span></p>


    <script>

    let form = document.querySelector('form');
    let button = document.querySelector('button');
    let company_name = document.querySelector('input');
    let output = document.querySelector('h3');

    let Passcode = (length) => {
    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let result = '';
    for (let i = 0; i < length; i++) {
      result += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return result;
  }

  let RandomID = (length) => {
    let result = '';
    for (let i = 0; i < length; i++) {
      result += Math.trunc(Math.random() * 10);
    }
    return result;
  }

    form.addEventListener('submit', (e) => {
    e.preventDefault();
    
    let formData = new FormData(form);
    let data = Object.fromEntries(formData.entries());
    let newData = {
      ...data,
      passcode: Passcode(6),
      id: RandomID(10)
    };
    fetch(`http://localhost:3000/homepage/${newData.id}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(newData),
      }).then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        }
      });
  });

    </script>
</body>