<head>
  <link rel="stylesheet" type="text/css" href="/design.css">
</head>
<body> 
  <form type='submit' class='user_form'>
    <label> Company Name </label>
    <input type='text' name='companyName' value='' class='username_input' required />
    <button type='submit' > Go to Dashboard </button>
    <a href = ""> Login as an Employee </a>
  </form>

  

   
    <script>
    let form = document.querySelector('form');
    let button = document.querySelector('button');
    let company_name = document.querySelector('input');
    let output = document.querySelector('h3');

    let Passcode = (length) => {
    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let result = '';
    for (let i = 0; i < length; i++) {
      result += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return result;
  }

  let RandomID = (length) => {
    let result = '';
    for (let i = 0; i < length; i++) {
      result += Math.trunc(Math.random() * 10);
    }
    return result;
  }

    form.addEventListener('submit', (e) => {
    e.preventDefault();
    
    let formData = new FormData(form);
    let data = Object.fromEntries(formData.entries());
    let newData = {
      ...data,
      passcode: Passcode(6),
      id: RandomID(5)
    };
    fetch(`http://localhost:3000/homepage/${newData.id}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(newData),
      }).then(response => {
        if (response.redirected) {
          window.location.href = response.url;
        }
      });
  });

    </script>
</body>