:root {
  /* Color Scheme Variables Here! */
}

* {
  font-family: 'Calibri', sans-serif;
}
html,
body {
  background-color: #e7eaf6;
  transition: all 500ms;
  margin: 0;
  padding: 0;
}

nav {
  padding: 30px;
}

.title-section {
  font-size: 40px;
  margin: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(23, 24, 26);
  min-width: 350px;
  max-width: 350px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-container h1 {
  font-size: 40px;
  margin: 0;
  color: rgb(23, 24, 26);
  border-bottom: 2px solid black;
}

ul {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  font-size: 30px;
  list-style-type: none;
  margin: 0;
}

ul a {
  text-decoration: none;
  color: rgb(48, 47, 47);
  padding: 10px;
  text-align: center;
  border-bottom: solid 2px black;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(60, 60, 78);
  color: white;
}

.search-bar {
  margin: auto;
  display: flex;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
}
.adjust {
  display: flex;
  justify-content: center;
  margin: 70px;
}
.add-container {
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr 1fr 1fr;
}

.add-container button {
  font-size: 30px;
  border: none;
  box-shadow: 0 0 20px rgba(80, 78, 78, 0.7);
  cursor: pointer;
  padding: 30px;
  color: white;
  transition: all 500ms ease;
}

.add-container button:hover {
  transform: scale(1.05);
}
.add-container .add-employee-btn {
  background-color: rgb(121, 68, 68);
}
.add-container .add {
  background-color: rgb(121, 112, 180);
}

main {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
}

.movements {
  grid-row: 2 / span 2;
  background-color: #fff;
  box-shadow: 0 0 15px rgb(129, 129, 129);
  border-radius: 1rem;
  overflow-y: scroll;
  text-transform: uppercase;
}

.movements__row {
  padding: 2.25rem 3rem;
  display: grid;
  /* display flex on phone */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.name {
  font-size: 1.5rem;
  font-weight: 800;
  color: #5f3232;
  padding: 0.1rem;
  border-radius: 10rem;
  /* margin-right: 13px; */
}

.position {
  font-size: 0.7rem;
  font-weight: 500;
  color: #666;
}

.status {
  font-size: 0.8rem;
  margin-left: auto;
}

@media screen and (max-width: 1000px) {
  .movements__row {
    padding: 2.25rem 4rem;
    grid-template-columns: none;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  .status {
    margin: auto;
  }
}

.all-projects {
  text-transform: uppercase;
}

.projects {
  margin: 90px;
  font-size: 20px;
  background-color: rgb(146, 146, 174, 0.6);
  padding: 30px 90px 30px 90px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(25, 25, 30, 0.6);
}
.project-name {
  text-align: left;
  font-size: 50px;
  margin-bottom: 0;
}
.description-container {
  display: flex;
  gap: 30px;
}
.description {
  margin-top: 0;
}

.hidden {
  display: none;
}

.add-btns {
  font-size: 30px;
  border: none;
  background-color: rgb(75, 122, 75);
  padding: 10px 50px 10px 50px;
  cursor: pointer;
  color: white;
  border-radius: 55px;
  box-shadow: 0 0 0 5px rgb(61, 86, 61);
}

.modal {
  background-color: rgb(205, 205, 212);
  border-radius: 10px;
  padding: 80px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
  z-index: 15;
  font-size: 20px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.delete {
  display: none;
}
