:root {
  /* Color Scheme Variables Here! */
}

* {
  font-family: 'Unbounded', sans-serif;
}
html,
body {
  background-color: #e7eaf6;
  transition: all 500ms;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #a2a8d3;
}

.title-section {
  font-size: 40px;
  margin: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(23, 24, 26);
  min-width: 350px;
  max-width: 350px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container h1 {
  font-size: 40px;
  margin: 0;
  color: rgb(23, 24, 26);
}

ul {
  display: flex;
  gap: 50px;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
}

ul a {
  text-decoration: none;
  color: white;
}

.adjust {
  display: flex;
  justify-content: center;
  margin: 70px;
}
.add-container {
  display: grid;
  gap: 100px;
  grid-template-rows: 1fr 1fr 1fr;
}

.add-container button {
  font-size: 30px;
  border: none;
  box-shadow: 0 0 20px rgba(80, 78, 78, 0.7);
  cursor: pointer;
  padding: 30px;
  border-radius: 75px;
  color: white;
  transition: all 500ms ease;
}

.add-container button:hover {
  transform: scale(1.05);
}
.add-container .add-employee-btn {
  background-color: rgb(121, 68, 68);
}
.add-container .add {
  background-color: rgb(121, 112, 180);
}

main {
  position: relative;
  max-width: 700rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto repeat(3, 13rem) auto;
}

.movements {
  grid-row: 2 / span 2;
  background-color: #fff;
  box-shadow: 0 0 15px rgb(129, 129, 129);
  border-radius: 1rem;
  overflow-y: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: grid;
  /* display flex on phone */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #5f3232;
  padding: 0.1rem;
  border-radius: 10rem;
  /* margin-right: 13px; */
}

.position {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.status {
  font-size: 1rem;
  margin-left: auto;
}

@media screen and (max-width: 1000px) {
  .movements__row {
    padding: 2.25rem 4rem;
    grid-template-columns: none;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  .status {
    margin: auto;
  }
}

.projects {
  margin: 50px;
  font-size: 25px;
  background-color: rgb(169, 169, 219);
  max-width: 200px;
  text-align: center;
  padding: 30px 90px 30px 90px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(96, 96, 124, 0.7);
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.modal {
  background-color: rgb(205, 205, 212);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
  z-index: 15;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
}
